---
# Only the main Sass file needs front matter (the dashes are enough)
---

$white:white;
$mediumGrey: #706F75;
$medFadeBlue: #2381C1;
$mediumGrey:#4A4A4A;

// font-family: 'Dosis', sans-serif;
// font-family: 'Inconsolata', monospace;


body {
  background-color: $white;
  font-family: 'Inconsolata', monospace;
}

.navbar {
  background-image: url('../images/background/stardust.png');
  background-repeat: repeat;
  display: none;
  .navbar-nav .nav-link {
    color:white !important;
  }
}

.navbar-shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.landing-section {
  height: 100vh;
  background-image: url('../images/background/stardust.png');
  background-repeat: repeat;
  .logo-size {
    height: 200px;
  }
  color:white;
  h2 {
    font-size: 1.5rem;
  }
  hr {
    width: 80%;
    border-top: 7px solid white;
  }
}

.about-section {
  padding-top: 75px;
  height: 100%;
  .tech-section {
    .tech-group {
      margin-top: 2em;
      padding-top: 2em;
      .dev-icons{
        padding: 1.5rem 3rem;
        font-size: 70px;
      }
      p {
        color: $mediumGrey;
      }
    }
  }
}

.projects-section {
  padding-top: 75px;
  height: 100%;
}

@media (min-width: 576px) {
  .landing-section {
    h2 {
      font-size: 2.0rem;
    }
    hr {
      width: 90%;
    }
  }
  .about-section {
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .landing-section {
    hr {
      width: 75%;
    }
  }
  .about-section {
    padding-top: 0;
    height: 100vh;
    .tech-section {
      .tech-group {
        .dev-icons{
          padding: 1.5rem 0rem;
          font-size: 50px;
        }
      }
    }
  }
  .projects-section {
    padding-top: 0;
    height: 100vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .landing-section {
    hr {
      width: 55%;
    }
  }
  .about-section {
    .tech-section {
      .tech-group {
        .dev-icons{
          padding: 1.5rem 1rem;
          font-size: 60px;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .landing-section {
    hr {
      width: 45%;
    }
  }
  .about-section {
    .tech-section {
      .tech-group {
        .dev-icons{
          padding: 1.5rem 3rem;
          font-size: 60px;
        }
      }
    }
  }
}
