<section id="about" class="about-section d-flex flex-column justify-content-center align-items-center">
  <div class="d-flex flex-column text-center expertise-section">
    <h1>My Trades</h1>
    <h4>
      Web | Mobile | Backend Services | Test Driven Development
    </h4>
  </div>
  <div class="row justify-content-between tech-section">
    <div class="col-12 col-md-4  text-center tech-group" >
      <div class="d-flex flex-column justify-content-between">
        <h2>Design</h2>
        <div class="dev-icons">
          <i class="devicon-android-plain-wordmark colored"></i>
          <i class="devicon-html5-plain-wordmark colored"></i>
          <i class="devicon-css3-plain-wordmark colored"></i>
          <i class="devicon-sass-original colored"></i>
          <i class="devicon-bootstrap-plain-wordmark colored"></i>
        </div>
        <p>Android, HTML5, CSS3, Sass, Android</p>
      </div>
    </div>
    <div class="col-12 col-md-4 text-center tech-group" >
      <div class="d-flex flex-column justify-content-between">
        <h2>Code</h2>
        <div class="dev-icons">
          <i class="devicon-nodejs-plain-wordmark colored"></i>
          <i class="devicon-react-original-wordmark colored"></i>
          <i class="devicon-java-plain-wordmark colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-mocha-plain colored"></i>
          <i class="devicon-jasmine-plain-wordmark colored"></i>
        </div>
        <p>NodeJs, EmberJs, ReactJs, Javascript, Java, Spring Boot, Mocha, Jasmine, Sinon, Postgres, MySQL</p>
      </div>
    </div>
    <div class="col-12 col-md-4 text-center tech-group" >
      <div class="d-flex flex-column justify-content-between">
        <h2>Tools</h2>
        <div class="dev-icons">
          <i class="devicon-git-plain colored"></i>
          <i class="devicon-github-plain colored"></i>
          <i class="devicon-atom-original-wordmark colored"></i>
          <i class="devicon-gradle-plain colored"></i>
          <i class="devicon-intellij-plain colored"></i>
          <i class="devicon-docker-plain-wordmark colored"></i>
        </div>
        <p>GIT, Github, Atom, Intellij, Sketch, Gradle, Docker</p>
      </div>
    </div>
  </div>
</section>
