<nav id="menu" class="animated navbar fixed-top navbar-expand-lg navbar-dark navbar-shadow">
  <a class="navbar-brand" href="/">RW</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="text-color nav-link" href="#about">About</a></li>
      <li class="nav-item"><a class="text-color nav-link" href="#projects">Projects</a></li>
    </ul>
  </div>
</nav>
