<section class="landing-section d-flex flex-column justify-content-center align-items-center">
  <p class="display-4">Rett Walker</p>
  <h2 class="text-center">Software Developer | Historian</h2>
  <hr class="">
  <div>
    <a class="social-link mx-3" href="{{ site.github_link }}"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
    <a class="social-link mx-3" href="{{ site.linkedin_link }}"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
  </div>
  <div class="mt-5">
    <a href="#about"><i class="fa fa-chevron-down fa-inverse fa-2x" aria-hidden="true"></i></a>
  </div>
</section>