@import 'color';
.background-section {
  .card {
    border-radius: 0;
    margin-bottom: 15px;
    .card-header {
      background-color: $cardHeaderYellow;
      color:white;
    }
    .list-group {
      .list-group-item {
        border-bottom-right-radius:0 !important;
        border-bottom-left-radius:0 !important;
        margin: 0 20px;
        padding: 15px 0;
      }
    }
  }
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

@media (min-width: 576px) {
  .background-section {
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .background-section {
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .background-section {
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .background-section {
  }
}