---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "color";
@import "navbar";
@import "section";


@import "landing";
@import "about";
@import "project";
@import "background";

// font-family: 'Dosis', sans-serif;
// font-family: 'Inconsolata', monospace;


body {
  background-color: $white;
  font-family: 'Inconsolata', monospace;

  #menu {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
  }
}

.social-link {
  color: $white;
  &:hover{
    color:$mediumlightGrey;
  }
}
